
  <style>
    *
    {
        margin: 0;
        padding: 0;
    }
    body
    {
        font-family: sans-serif;
    }
    #nav-bar
    {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .navbar
    {
        background-image: linear-gradient(to right,blue, orange,red);
        padding: 0 !important;

    }


    .navbar-nav li
    {
        padding: 0 10px;
    }
    .navbar-nav li a
    {
        color: #800000 !important;
        font-weight: 600;
        float: right;
        text-align: left;
    }
    th, td {
  padding: 50px;
  text-align: left;
}
    </style>


    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
           <div>
             <h1 style="font-family:cursive;color:yellow; font-size:30px;">Banele Khumalo</h1></div>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class="navbar-nav" >

             </ul>
           </div>
         </nav>

     </header><br><h2 style="color: red;;">First part</h2><br>

     <div *ngIf="!name;else forminfo">
        <form [formGroup]=rForm (ngSubmit)="addPost(rForm.value)">
          <div class="form-container">
            <div class="row columns">
              <h1>Banele Hotel Personal Details</h1>
              <label>Name
                <input type="text" formControlName="name">
              </label>

              <label>Last Name
                <input type="text" formControlName="lname">
              </label>

              <label>Email
                <input type="email" formControlName="email">
              </label>

              <label>Phone
                <input type="tel" formControlName="phone">
              </label>

              <label>password
                <input type="password" formControlName="password">
              </label>
              <label>Description
                <textarea type="text" formControlName="description" placeholder="Please tell us more about you"></textarea>
                 <input type="text" formControlName="description" placeholder="What are your hotel specifications?">
              </label>
              <label>Check In
                <input type="date" formControlName="checkin">
              </label>
              <label>Check Out
                <input type="date" formControlName="checkout">
              </label>



              <input type="submit" class="button expand" value="Submit Form"[disabled]="rForm.valid">
            </div>
          </div>

        </form>
     </div>
     <ng-template #forminfo>
        <div class="form-container">
          <div class="row columns">

            <h2>Welcome&nbsp;{{name}}</h2>

              <form>
                <p>Please enter your bank details</p><br>
                <div class="col-md-6">
                  <span>Credit Card Payment</span>
                </div>
                <div class="col-md-6 text-right" style="margin-top: -5px;">
                  <img src="https://img.icons8.com/color/36/000000/visa.png">
                  <img src="https://img.icons8.com/color/36/000000/mastercard.png">
                  <img src="https://img.icons8.com/color/36/000000/amex.png">

                </div>
                <label>Bank Name
                  <input type="text" formControlName="bankName">
                </label>
                <label>Account Holder
                  <input type="text" formControlName="holderName">
                </label>
                <label>Card Number
                  <input type="number" formControlName="cardNo" >
                </label>
                <label>cvv
                  <input type="number" formControlName="cvv">
                </label>
                <label>Expiry Date
                  <input type="date" formControlName="exDate">
                </label>
                <input type="submit" class="button expand" value="Submit Form"[disabled]="rForm.valid">
              </form>
          </div>
        </div>


    </ng-template>

        <div *ngIf="!name; else forminfo2">
          <form [formGroup]="rForm"(ngSubmit)="addPost(rForm.value)">
            <div class="form-contain">
              <div class="row columns">
                  <label>

                    <input type="text" style=" background-image: linear-gradient(to right,blue, orange,red);">


                  </label>
              </div>
            </div>
          </form>
        </div>

        <ng-template #forminfo2>
            <div class="form-container">
              <div class="row columns">
                <br><br><br><br><br><br>
                <h1>Confirmation</h1>
                <div style="background-color: indigo;color:orange;margin: 50px;">
                  <h4>The hotel you are looking must have the following specification:</h4>
                    {{description}}
                </div>
                <form style="background-color: khaki;margin-left:200px;">
                  <h4>Personal Details</h4>
                  <p>Name: {{name}}</p>
                  <p>Last Name: {{lname}}</p>
                  <p>Email: {{email}}</p>
                  <p>Phone: {{phone}}</p>
                  <p>Password: {{password}}</p>
                  <p>Check in Date: {{checkin}}</p>
                  <p>Check out Date {{checkout}}</p>
                  <hr style="width: 250px;height: 10px;color: lime;">
                  <h4>Bank Details</h4>
                  <p>Bank Name: </p>
                  <p>Account Holder Name: {{name}}&nbsp;{{lname}}</p>
                  <p>Card Number: {{cardNo}}1*** **** **** ***3</p>
                  <p>CVV: 250</p>
                  <p>Expiry Date: 2020/12/21</p>

                </form>
              </div>
            </div>


        </ng-template>

        <h2 style="color: red;;">Second part</h2><br>

     <br><br>


        <div>
          <router-outlet></router-outlet>
        </div>


     <br><br>


<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="form-group">
            <label>File Uploads</label>
              <input type="file" (change)="fileuploads($event)" multiple class="form-control" style="height: 100%;" accept="image/*">
          </div><br>
          <div class="form-group">
            <button type="button" class="btn btn-success" (click)="save()">Submit</button><br><br>
          </div>
      </div>
  </div>

    <h4><p>Uploaded Files</p></h4>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <th>Image</th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let image of images">
          <td><img [src] = "image.url" style="height: 30; width: 30px; "></td>
          <td>{{image.name}}</td>
          <td>{{image.type}}</td>
          <td>{{image.size}}</td>
          <td><a href="javascript:void(0)" (click)="deleteImage(image)">delete
            <i class="fa fa-trash"></i>
          </a></td>
        </tr>
      </tbody>
    </table>

</div>



